#header, footer {
  color: white;
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
.container {
  background-color: white;
  border-radius: 10px;
  font-family: 'Andika', sans-serif;
  margin-top: 10%;
  padding: 20px;
  width: 500px;
}
#blocky {
  display: none;
  margin-right: 20px;
  float: left;
}
#credit {
  float: right;
}
#tweety-butt {
  color: inherit;
  display: none;
  margin-left: 5px;
}
footer {
  margin-top: 10%;
}
button {
  border: none;
  border-radius: 10px;
  font-size: 2em;
}
